.letter {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    transition: .2s;
    color: #fff;
}


@media (max-width: 600px) {
    .letter {
        font-size: 135%;
    }
}