.card {
    width: 28.3333%;
    border-radius: 10px;
    margin: 2% 2.5%;
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    height: 20%;
}

.body {
    min-height: 10rem;
}

.icon {
    font-size: 4rem;
}

@media screen and (max-width: 600px) {
    .card {
        width: 45%;
        margin: 2% 2.5%;
    }

    .icon {
        font-size: 2rem;
    }
}