.about {
    width: 100%;
    padding: 15px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadCV {
    margin: 1.5rem 0;
}

.description {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
}

.about .header {
    color: var(--gray);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 70%;
    margin: 10%;
}

.description p {
    color: #fff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}

.img-wave {
  /* dont select */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 600px) {
    .about {
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .description header {
        /* font-size: 4.5rem; */
        font-size: 2.7rem;
    }

    .description p {
        text-align: start;
        font-size: 1.2rem;
    }

    .avatar,
    .avatar > img {
        width: 100%;
    }

    .downloadCV {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}