.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.home-message {
    margin: 10px;
}

.home .jack-effect {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    transition: .3s;
    color: #fff;
}

.home .jack-effect:hover {
    color: var(--blue);
}

.home footer {
    color: var(--blue);
    letter-spacing: 4px;
}

.btn-sayhello {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: -1;
}

@media (max-width: 600px) {
    .home .jack-effect {
        font-size: 135%;
    }
}