:root {
    --transition-duration: .45s;
}

#projects {
    display: flex;
    flex-direction: column;
    color: var(--blue);
}

/* #projects .header {
    color: #0d6efd;
    font-size: 200%;
    font-family: 'Roboto';
} */

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    margin: 0 4.5rem;
}

.project-card {
    padding: 0.75rem;
    width: 33.3333%;
}

.project-card figure {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card figcaption {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #031633;
    color: #fff;
    transition: var(--transition-duration);
}

.project-card figure:hover figcaption {
    opacity: 1;
}

.project-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: var(--transition-duration);
}

.project-card figure:hover .project-image {
    transform: scale(1.1);
}

.project-card a {
    text-decoration: none;
    color: #fff;
    border: solid var(--blue) 2px;
    border-radius: 25px;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    transition: var(--transition-duration);
}

.project-card a:hover {
    background-color: var(--blue);
}


@media (max-width: 600px) {
    #projects-grid {
        flex-direction: column;
        margin: 0;
    }

    .project-card {
        width: 90%;
        padding: 0;
        /* margin: 10px 0; */
    }

    .project-card figcaption h1 {
        font-size: 1.5rem !important;
    }
}