#sayHello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

#sayHello header {
    color: #0d6efd;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}

form {
    width: 50%;
}

#name,
#email {
    width: 49%;
    margin-bottom: 1%;
}

#email {
    margin-left: 2%;
}

#subject {
    width: 100%;
    margin: 1% 0;
}
#message {
    width: 100%;
    margin: 1% 0;
    min-height: 100px;
}

.formInput {
    background-color: #2b2b2b;
    border: solid transparent;
    height: 50px;
    color: white;
    caret-color: #0d6efd;
    transition: .2s ease-in-out;
}
.formInput:focus {
    outline: none;
    border-bottom: solid  1px #0d6efd;
    
}
.formInput:focus::placeholder {
    color: transparent;
}

section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-submit {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bold;
    color: #0d6efd;
    border: solid 2px #0d6efd;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-submit:hover {
    background-color: #0d6efd;
    color: #fff;
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }
    #name,
    #email {
        width: 100%;
        margin-bottom: 2%;
    }
    #email {
        margin-left: 0;
        margin-bottom: 2%;
    }
    #subject {
        margin: 0;
        margin-bottom: 2%;
    }
    #message {
        margin: 0;
        margin-bottom: 2%;
        min-height: 150px;
    }
    #sayHello {
        margin: 100px 0;
    }
}