.skills {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 600px) {
    .skills-grid {
        width: 80%;
        align-items: flex-start;
    }
}