.header {
    display: flex;
    justify-content: center;
    color: #fff;
    /* font-weight: bold; */
    font-family: 'Roboto';
    /* font-size: 200%; */
    font-size: 2em;
}

.header .code {
    color: var(--blue);
    margin-left: .5rem;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 1.5em;
    }
}