.container {
    width: 85%;
    margin: 1.5rem 0;
}

.slide img {
    width: 20rem;
    margin: 0 auto;
}

.slide {
    transform: scale(0.9);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1);
    opacity: 1;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: .2s;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    top: 43%;
}

.arrow:hover {
    color: var(--blue) !important;
}

.next {
    right: -5%;
}

.prev {
    left: -5%;
}

@media screen and (max-width: 600px) {
    .container {
        margin: .5rem 0;
    }

    .slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        top: 40%;
    }

    .next {
        right: -7%;
    }

    .prev {
        left: -7%;
    }
}