#header {
    /* position: fixed; */
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuButton {
    color: #0d6efd;
    margin: 7px;
}

#rightButtons a {
    margin: 7px;
}

/* hr {
    padding: 0;
    margin: 0 !important;
    border: solid 1px #0d6efd !important;
    width: 100% !important;
} */



#buttons {
    display: flex;
}

.circleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 10px;
    border: solid 1px #0d6efd;
    border-radius: 25px;
}

.circleButton:hover {
    background-color: #0d6efd;
    color: #1d1d1d;
}

#modalItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: solid 1px #282828;
}

.modalItem {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    color: white;
    border-bottom: solid 1px #282828;
}

#closeButton {
    color: #0d6efd;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

#modalHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalHeader > span {
    color: #a5a5a5;
}