#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 25px;
    margin: 0 5%;
    /* width: 7%; */
}

#sidebar a {
    margin: 20px;
    color: #fff;
    transition: 0.2s;
}

#sidebar a:hover {
    color: #0d6efd;
}