.experience {
    width: 100%;
    display: flex;
    margin: 5% 0;
}

.experience h2 {
    color: #0d6efd;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
}

.experience details {
    margin: 5px 0;
    transition-duration: 0.3s;
}

.experience details[open] {
    margin: 10px 0;
}

.experience p {
    border: solid 1px var(--blue);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    color: #fff;
}

.experience summary {
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.academic-formation,
.profissional-experience {
    width: 50%;
    margin: 0 5%;
}

@media (max-width: 600px) {
    .experience {
        flex-direction: column;
        align-items: center;
        margin: 20% 0;
    }

    .academic-formation,
    .profissional-experience {
        width: 90%;
    }
}